# Video & media files
*.mov
*.mp4
*.avi
*.mkv

# Office documents
*.docx
*.xlsx
*.pptx
*.pdf

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
.next/
out/

# Env
.env
.env.local
.env*.local

# Build
dist/
build/

# Logs
*.log
npm-debug.log*
